/* line 21, ../sass/screen.sass */
body {
  font-family: museosans, helvetica, sans;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

/* line 27, ../sass/screen.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: museoslab, georgia, serif;
  font-weight: normal;
}

/* line 31, ../sass/screen.sass */
h2 {
  line-height: 30px;
  font-size: 25px;
}

/* line 35, ../sass/screen.sass */
a {
  -webkit-transition: 0.05s, color;
  -moz-transition: 0.05s, color;
  -o-transition: 0.05s, color;
  transition: 0.05s, color;
  color: #1883f5;
}

/* line 38, ../sass/screen.sass */
a:hover {
  color: #2c5ac1;
  text-decoration: none;
}

/* line 42, ../sass/screen.sass */
.btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  padding: 8px 12px 6px 12px;
  font-family: museosans, helvetica, sans;
  text-transform: uppercase;
  background: #666666;
  color: white;
}
/* line 51, ../sass/screen.sass */
.btn:hover {
  background: #333333;
  color: #d0d0d0;
}

@media all and (min-width: 767px) {
  /* line 56, ../sass/screen.sass */
  .collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
/* line 60, ../sass/screen.sass */
.relative {
  position: relative;
}

/* line 63, ../sass/screen.sass */
.accordion-group {
  border: none;
}

/* line 66, ../sass/screen.sass */
.collapse-handle {
  position: absolute;
  margin: 0px;
  right: 40px;
  font-size: 16px;
  line-height: inherit;
}
@media all and (min-width: 767px) {
  /* line 66, ../sass/screen.sass */
  .collapse-handle {
    display: none;
  }
}

/* line 75, ../sass/screen.sass */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

/* line 78, ../sass/screen.sass */
.nav-dark {
  color: white;
}
/* line 80, ../sass/screen.sass */
.nav-dark a {
  color: white;
}
/* line 82, ../sass/screen.sass */
.nav-dark a:hover {
  text-decoration: none;
}

/* line 85, ../sass/screen.sass */
.panel {
  position: relative;
}

/* line 88, ../sass/screen.sass */
.backstretch {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

/* line 93, ../sass/screen.sass */
.panel-text {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 60px;
  padding: 20px;
  margin: 0 -20px 120px -20px;
}
/* line 100, ../sass/screen.sass */
.panel-text > h1:first-child {
  margin-top: 0;
}
/* line 102, ../sass/screen.sass */
.panel-text > p:last-child {
  margin-bottom: 0;
}
/* line 104, ../sass/screen.sass */
#about .panel-text {
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 106, ../sass/screen.sass */
#print .panel-text, #more .panel-text {
  left: -20px;
}

/* line 109, ../sass/screen.sass */
.panel-nav {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  top: 60px;
  padding: 20px 0;
  background-color: transparent;
}
/* line 115, ../sass/screen.sass */
.panel-nav i {
  display: block;
}
/* line 117, ../sass/screen.sass */
.panel-nav a {
  color: black;
}
/* line 119, ../sass/screen.sass */
.panel-nav a:hover {
  color: #1883f5;
}

/* line 122, ../sass/screen.sass */
.panel-dark {
  color: white;
}
/* line 124, ../sass/screen.sass */
.panel-dark .panel-text {
  background: rgba(0, 0, 0, 0.5);
}
/* line 127, ../sass/screen.sass */
.panel-dark .panel-nav a {
  color: white;
}
/* line 129, ../sass/screen.sass */
.panel-dark .panel-nav a:hover {
  color: #1883f5;
}

/* line 132, ../sass/screen.sass */
.top-text {
  position: absolute;
  right: 15%;
  top: 30%;
  max-width: 35%;
}

/* line 138, ../sass/screen.sass */
.name {
  margin-bottom: 20px;
}

/* line 141, ../sass/screen.sass */
.top-nav {
  overflow: hidden;
  *zoom: 1;
  font-size: 26px;
  line-height: 26px;
  margin-left: 4px;
  width: 115%;
}
/* line 147, ../sass/screen.sass */
.top-nav > a {
  margin-right: 20px;
  float: left;
  color: black;
}
/* line 151, ../sass/screen.sass */
.top-nav > a:hover {
  color: #666666;
  text-decoration: none;
}
@media (min-width: 1200px) {
  /* line 141, ../sass/screen.sass */
  .top-nav {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 979px) {
  /* line 141, ../sass/screen.sass */
  .top-nav {
    margin-left: 2px;
    font-size: 20px;
    line-height: 20px;
  }
  /* line 161, ../sass/screen.sass */
  .top-nav > a {
    margin-right: 15px;
  }
}

/* line 164, ../sass/screen.sass */
.portrait {
  position: absolute;
  left: -5%;
  bottom: 0;
  width: 55%;
}

/* line 170, ../sass/screen.sass */
.thumbgrid {
  margin-bottom: -20px;
}

/* line 173, ../sass/screen.sass */
.thumb {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.35);
  position: relative;
}
/* line 177, ../sass/screen.sass */
.panel-dark .thumb {
  background-color: rgba(0, 0, 0, 0.35);
}
/* line 179, ../sass/screen.sass */
.thumb > a {
  z-index: 2;
  position: relative;
}
/* line 182, ../sass/screen.sass */
.thumb > a:hover {
  opacity: 0;
}
/* line 184, ../sass/screen.sass */
.thumb > p {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  height: 20px;
}

/* line 197, ../sass/screen.sass */
.portfolio-item {
  background-color: #333333;
}
/* line 199, ../sass/screen.sass */
.portfolio-item .nav > li {
  line-height: 17px;
  margin-top: 5px;
}

/* line 203, ../sass/screen.sass */
.portfolio-nav {
  margin-top: 45px;
}
/* line 205, ../sass/screen.sass */
.portfolio-nav h3 {
  margin: 0;
}

/* line 208, ../sass/screen.sass */
.name-nav {
  margin-bottom: 10px;
  width: 50%;
}

/* line 212, ../sass/screen.sass */
.nav-portrait {
  position: absolute;
  left: -5%;
  bottom: 0;
}

/* line 217, ../sass/screen.sass */
.portfolio-main {
  background-color: #d0d0d0;
  padding: 40px;
  padding-top: 50px;
  margin-top: -10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: #262626 10px 10px;
  -moz-box-shadow: #262626 10px 10px;
  box-shadow: #262626 10px 10px;
}

/* line 225, ../sass/screen.sass */
.portfolio-images {
  text-align: center;
}

/* line 228, ../sass/screen.sass */
.portfolio-image {
  margin-top: 40px;
  display: inline;
}
