@import "compass/css3"
@import "compass/utilities/general/clearfix"

$sans-fonts: museosans, helvetica, sans
$serif-fonts: museoslab, georgia, serif
$gray-dark: #333
$gray-mid: #666
$gray-light: #d0d0d0
$a-color: #1883F5

$large-screen-min-width: 1200px // differs from bootstrap value of 1210px
$large-screen-min-height: 800px
$desktop-max-width: 1210px
$landscape-tablet-max-width: 979px
$portrait-tablet-max-width: 767px
$phone-max-width: 480px

body
	padding: 0

h1
	text-align: center

.panel
	padding: 20px

.panel-text
	background-color: rgba(white,.7)
	.panel-dark &
		background-color: rgba(black,.7)

.panel-text, #print .panel-text, #more .panel-text
	padding: 20px 10px
	margin: 0
	left: 0
	right: 0
	top: 0
	bottom: 0

.panel-nav
	display: none

.thumbgrid
	width: 100%
	margin-bottom: -15px

.thumb
	width: 30%
	float: left
	margin: 15px 1.5%