---
layout: default
body_class: portfolio-item
---
<div class="container window-height relative">
	<div class="row">
		<div class="span3 nav-dark portfolio-nav">
			<a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}static/images/nav/name-white.png" class="name-nav" width="50%" /></a>
			<h3><a href="{{ site.baseurl }}">Home</a></h3>
			<div class="accordion-group">
				<h3 data-toggle="collapse" data-target="#web" data-parent=".portfolio-nav">Web Design<i class="collapse-handle icon-chevron-down"></i></h3>
				<ul class="nav collapse" id="web">
					{% for page in site.categories.web %}
						<li><a href="{{ page.url }}">{{ page.title }}</a></li>
					{% endfor %}
				</ul>
				<h3 data-toggle="collapse" data-target="#print" data-parent=".portfolio-nav">Print Design<i class="collapse-handle icon-chevron-down"></i></h3>
				<ul class="nav collapse" id="print">
					{% for page in site.categories.print %}
						<li><a href="{{ page.url }}">{{ page.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="span9 portfolio-main">

			<h1>{{ page.title }}</h1>

			{{ content }}

			{% if page.link %}
				<a href="{{ page.link }}" class="btn">View Page</a>
			{% endif %}

			<div class="portfolio-images">
				<a href="{{ site.baseurl }}{{ page.categories }}/images{% if page.primary_alt %}_alt{% endif %}/{{ page.primary_image }}">
					<img src="{{ site.baseurl }}{{ page.categories }}/images/{{ page.primary_image }}" class="portfolio-image max-height" />
				</a>
				{% for additional_image in page.additional_image %}
					<a href="{{ site.baseurl }}{{ page.categories }}/images/{{ additional_image }}">
						<img src="{{ site.baseurl }}{{ page.categories }}/images/{{ additional_image }}" class="portfolio-image max-height" />
					</a>
				{% endfor %}
			</div>
		
		</div>
	</div>
	<img class="span3 nav-portrait" src="{{ site.baseurl }}static/images/nav/skeptical-270.png" />
</div>
